<div class="container px-4 px-lg-5 mt-5">
  <h2 class="fw-bolder mb-4 orbit-regular text-warning" *ngIf=" products && products.length > 0">{{category.includes("-")
                ? convertToTitleCase(category)
                : [category.slice(0, 1).toUpperCase() + category.slice(1)]}}</h2>
  <div
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
  >
    <div class="col mb-5" *ngFor="let product of products">
      <div class="card h-100">
        <div class="backgroundEffect"></div>
        <div
          class="badge bg-warning text-white position-absolute"
          style="top: 0.5rem; right: 0.5rem"
        >
          {{ product?.category }}
        </div>
        <!-- Product image-->
        <a>
          <img class="card-img-top" [src]="product?.thumbnail" alt="..." />
        </a>
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{ product?.title }}</h5>
            <!-- Product price-->
            ${{ product?.price }}
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <a routerLink="/item-details/{{ product.id }}"
              ><button
                type="button"
                class="btn btn-sm btn-outline-warning me-1"
              >
                View
              </button></a
            >
            <button
              (click)="addToCart(product)"
              type="button"
              class="btn btn-sm btn-outline-warning"
              id="liveToastBtn"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>